body {
  margin: 0;
  font-family: sans-serif;
  color: #444;
}
h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
form {
  background-color: #ededed;
  padding: 20px 0;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0 0 20px #0006;
}
.form_input {
  padding: 6px 20px;
}
input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 12px;
  border-radius: 2px;
  border: none;
  border-left: 2px solid #999;
  box-shadow: 0 0 15px #0002;
}
